* {
    box-sizing: border-box;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    white-space: nowrap
  }

body {
    /*background-color: black;*/ 
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

a {
  text-decoration: none;
  font-size: 1rem;
  color: #55d;
}


p,h4 {
  display: inline;
  color: #888;
}

header{
  position: relative;
  margin: 0 2rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bio {
  margin-left: 5%;
  margin-right: 5%;
  height: auto;
  display: flex;
  flex-wrap: wrap;

  border-radius: 20px;
  padding: 10px;
  backdrop-filter: blur(10px);
  background-color: rgba(32, 32, 32, 0.3);
  }

.box { 
  width: 450px;
  height: 300px;
  box-sizing: border-box;

  background-color: #222;
  border-radius: 20px;
  padding: 20px;
  margin: 15px;
}

/*@media (max-width: 600px) {
  .box {
      flex: 1 0 100%; 
  }
}*/

.footer{
  position: fixed;
  bottom: 10px;
  left: 20px;
  padding: 20px,20px,20px,20px;
}


/*background-color: #222;
border-radius: 20px;
padding: 20px;
margin: 15px;
backdrop-filter: blur(10px);
background-color: rgba(32, 32, 32, 0.3);*/
